

:root {
    --main-body-bg-color:white;
    --main-body-txt-color:navy;
    --main-hdg-bg-color: navy;
    --main-hdg-txt-color: white;
    --main-panel-bg-color: lightgray;  
    --main-panel-txt-color: navy;  
    --main-panel-border:1px solid navy;
    --main-panel-readonly-color:green;

    --main-padding: 10px; 
    --main-bg-fade:rgba(0,0,0,0.2);
     
  }  
  .form-check-input {
      height:20px;
      width:20px;
  }
  /* :read-only {
    color:var(--main-panel-readonly-color);  
  } */
  /* select:read-only {
    color:var(--main-panel-readonly-color);
  } */
  select:disabled {
      color:green;
  }
  select option {
      color:black;
  }
  textarea:read-only {
    color:var(--main-panel-readonly-color) !important;
  }
  input:read-only {
      color:var(--main-panel-readonly-color) !important;
  }
  #schedulePeriod {
      text-align: left;
  }
  #schedulePeriod span {
      font-size:1.15rem;
  }
  
  .periodBtn {
    border: 1px solid black;
    height:25px;
    width:40px;
    outline: none;
    padding: 5px 5px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 10px; 
  }

  
  /* MOBILE DEVICE SETTINGS */
  .body {
      font-size:.5em;
  }
  .parent {
    display: grid;
    grid-template-columns:1fr;
    /* grid-template-rows:50px 1fr 1fr; */
    grid-template-areas: "hdgArea"
                         "localInfo"
                         "altInfo"
                         "emergInfo"
                         "memberStatus"
                         "certInfo"
                         "monitorDuty";
    gap:0px;
    background-color:var(--main-body-bg-color);
    padding-left:0px;
    padding-right:Opx;
    margin:0px; 
}

.hdg {
    grid-area: hdgArea; 
    display:grid;
    grid-template-rows: 50px 50px 50px 50px;
    grid-template-columns:1.25fr .75fr;
    grid-template-areas:    "searchArea     searchArea"
                            "memberNameArea memberNameArea"
                            "versionArea    versionArea "
                            "menuArea       menuArea"
                            ;
    background-color: var(--main-hdg-bg-color); 
    color:var(--main-hdg-txt-color);
    
} 

.hdgSearch {
    grid-area:searchArea;
    margin-top:.75em;
    margin-left:auto;
    margin-right:auto;
}

.memberName {
    grid-area:memberNameArea;
    margin-top:.75em;
    padding-top:.25em;
    padding-bottom:0em;
    margin-left:1em;
    margin-right:1em;
    text-align:center; 
    height:2.5rem;
    background-color: yellow;
    color:navy; 
    border-radius:5px;
}

.hdgVersion {
    grid-area:versionArea;
    align-items:right;
    text-align: right;
    padding-top:1.5rem;
    margin-right:.5em;
}


.memberMenu {
    grid-area:menuArea;

}

.dropdown-item {
    color:black;
}


.panel {
    display:inline;
}

.panel h5 {
    text-align: center;
    color:var(--main-panel-txt-color);
}

input {
    color:blue;
}
#certDate {
    color:blue;
}
/* LOCAL CONTACT PANEL */
.localContactInfo {
    grid-area:localInfo;
    background-color: var(--main-panel-bg-color);
    color:var(--main-panel-txt-color);
    border:var(--main-panel-border);
    border-radius: 10px;
    font-size: 10px;
}
.localContactInfo form {
    padding-left: 20px;
    padding-top:0px;
}
.localContactInfo .row {
    height:30px;
}
.localContactInfo input {
    border: 1px solid black;
    font-size:16px;
    color:var(--main-panel-txt-color);
} 
.localContactInfo label {
    text-align:right;
}

/* ALTERNATE ADDRESS PANEL */
.alternateContactInfo {
    grid-area:altInfo;
    background-color: var(--main-panel-bg-color);
    color:var(--main-panel-txt-color);
    border:var(--main-panel-border);
    border-radius: 10px;
}
.alternateContactInfo form {
    padding-left: 20px;
    padding-top:0px;
}
.alternateContactInfo input {
    border: 1px solid black;
    font-size:16px;
    color:var(--main-panel-txt-color);
} 

.alternateContactInfo .row {
    height:30px;
}
.alternateContactInfo label{
    text-align:right;
}

.alternateContactInfo input {
    border: 1px solid black;
    font-size:16px;
}

/* EMERGENCY INFO PANEL */
.emergencyInfo {
    grid-area:emergInfo;
    background-color: var(--main-panel-bg-color);
    color:var(--main-panel-txt-color);
    border:var(--main-panel-border);
    border-radius: 10px;
}
.memberImgID {
    margin-top:20px;
    margin-left:20px;
}

.emergencyInfo form {
    padding-left: 20px;
    padding-top:0px;
}
.emergencyInfo input {
    border: 1px solid black;
    font-size:16px;
    color:var(--main-panel-txt-color);
}
.emergencyInfo .row {
    height:30px;
}
.emergencyInfo label{
    text-align:right;
}

.emergencyInfo hr {
    border: 2px solid black;
    margin-left:0px;
    width:300px;
}
.medConditions {
    display:grid;
    grid-template-columns: .25fr auto;
    grid-template-areas: "medCol1area medCol2area";
}
.medCol1 {
    grid-area:medCol1area;
    margin-left:20px;
}
.medCol2 {
    grid-area:medCol2area;
    margin-left:20px;
    margin-right:0px;
    padding:0;
}

/* MEMBERSHIP STATUS PANEL */
.membershipInfo {
    grid-area:memberStatus;
    background-color:var(--main-panel-bg-color);
    color: var(--main-panel-txt-color);
    border:var(--main-panel-border);
    border-radius: 10px;
}
.membershipInfo, form {
    padding-left:10px;
}
.membershipInfo .row {
    height:30px;
}
.membershipInfo input {
    border: 1px solid black;
    font-size:16px;
    color:var(--main-panel-txt-color);
}

.memberStatus {
    display:grid;
    grid-template-columns: .5fr 1fr;
    grid-template-areas: "memberStatusCol1area memberStatusCol2area";
}
.memberStatusCol1 {
    grid-area: memberStatusCol1area;
    margin-left:0px;
}
.memberStatusCol2 {
    grid-area: memberStatusCol2area;
    margin-left:0px;
    margin-right:0px;
    padding:0;
}


/* CERTIFICATION INFO PANEL */
.certificationInfo {
    grid-area:certInfo;
    background-color:var(--main-panel-bg-color);
    color: var(--main-panel-txt-color);
    border:var(--main-panel-border);
    border-radius: 10px;
}

.certificationInfo input {
    border: 1px solid black;
    font-size:16px;
    color:var(--main-panel-txt-color);
}
.certificationInfo:disabled {
    color:lightgray;
}
#waiverReason label:after {
    color:red;
}
#waiverReason:disabled {
    color:lightgray;
}

.certTopPanel {
    padding-right:20px;
}

.shopNames {
    grid-area:shopNameArea;
}
.certLabels {
    grid-area:labelArea
}

.willSub {
    grid-area:willSubArea
}
.lastMntrTrng {
    grid-area:mntrTrngArea;
} 
.trngNeededMsg {
    grid-area:neededMsgArea;
}
.certificationInfo label{
    text-align:right;
} 

#RAtrainingNeeded {
    color:red;
}
#BWtrainingNeeded {
    color: red;
}
.RAcolumn {
    display:grid;
    text-align:center;
    justify-items: center;
}
.BWcolumn {
    display:grid;
    text-align:center;
    justify-items:center;
}
hr.class-1 { 
    border-top: 5px solid #8c8b8b; 
} 
/* MONITOR DUTY PANEL */

.monitorDutyInfo {
    grid-area:monitorDuty;
    background-color:var(--main-panel-bg-color);
    color:var(--main-panel-txt-color);
    border:var(--main-panel-border);
    border-radius: 10px;
    max-height: 383px;
}
#schedulePeriod button {
    font-weight: 700;
}
.monthNames {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin:0 auto; 
    text-decoration: none;
    color:var(--main-txt-color);
}
.monthNames label {
    text-align:center;
}
.monthCheckboxes {
    display:grid;
    text-decoration: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin:0 auto;
    padding-bottom:.5em;
    color:var(--main-txt-color);
}


#memberSchedule-container {
    padding:0px;
    margin:0px;
    background-color:white;
    border:navy solid 1px;
    border-radius: 10px;
    padding-bottom: 0px;
    margin-bottom:5px;
}


.memberScheduleHeader {
    display: grid;
    grid-template-columns:2fr 2fr 1fr 2fr 1fr;
    font-size: 16px;
    align-items:center;
    justify-content:center; 
    text-align: center;
    background-color: navy;
    border:white solid 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color:white;
    padding:0px;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    margin-bottom: 0px;
}
.memberScheduleDetail {
    overflow-y:auto;
    height:120px;
}
.memberScheduleRow {
    display: grid;
    grid-template-columns:2fr 2fr 1fr 2fr 1fr;
    background-color:white;
    font-size: 14px;
    align-items:center;
    justify-content:center; 
    text-align: center; 
    padding:0;
    margin-left:0px;
    margin-right: 0px;
    margin-top:0px;
    margin-bottom: 0px;
    border:navy solid 1px;
}  

#monitorDutyNotesID {
    margin-left:2em;
    text-align:left;
}


/* DROPDOWN MENU CSS FOLLOWS */
  .dropbtn {
    background-color: gray;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: lightslategrey;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown:disabled {
      color:lightgray !important;
  } 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:lightgrey;
    color:black;
    min-width: 160px;
    /* overflow: auto; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    /* color: black; */
    padding: 1em 1em;
    text-decoration: none;
    display: block-inline;
  }
  
.dropdown a:hover {
    background-color: green;
    color:white !important;
}


/* ---------------------------- MODALS --------------------------------------------------------------  */ 
.show {display: block;}

.modal-header {
    text-align:center;
    background-color: navy;
    color:white;
}

.modal-body {
    margin:auto;
}
.modal-content {
    width:max-content;
    border:1px solid navy;
}
.modal-dialog {
    vertical-align:middle;
}
.modal-footer {
    display:grid;
    grid-template-rows: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "footer-left  footer-right";
    background-color:lightgrey;
    height:50px;
    margin-top:20px;
    padding-top:0px;
}
.footer-left-col {
    grid-area: footer-left;
    text-align:left;
    padding-top:2em;
}
.footer-right-col {
      grid-area: footer-right;
      text-align: right;
  }

#noteModalID { 
    height:800px;
}

#passwordModalID {
    height:400px;
    border:1px solid navy;
} 
.passwordsBody {
    padding-top:2em;
    margin-top:2em;
    margin:0 auto;
}
.passwordsBody input {
    border:1px solid blue;
}
/* ---------------------------- END OF MODALS --------------------------------------------------------------  */
  #memberImgID {
      border:1px solid black;
  }

  .cityStateZip{
    display:block;
  }

  #zipcodeSelecterID {
      width:75px;
      height:30px;
      font-family: Lato;
      font-size:1rem;
  }
  .villageData {
      display:block;
      height:30px;
  }
  #villageTextID {
      width:5em;
  }
  #villageSelecterID {
    font-size:1rem;
    width: 8em;
    height:30px;
  }
  
  .showPhoto {
      text-align: center;
  }
  .datepick {
    width:150px;
    height:35px;
  }

  .cancelSave {
    float:right;
    margin-top:20px;
    margin-bottom: 10px;
    margin-right:20px;
  }
  
  .acceptDuesBtn {
      display:flex;
      align-items:center;
      justify-content:center;
      margin-top:40px;
      width:220px;
      color:white;
  }
@media (min-width: 544px) {
    .parent {
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: repeat(3, minmax(50px, auto));
        grid-template-areas: "hdgArea"
                             "localInfo"
                             "altInfo"
                             "emergInfo"
                             "memberStatus"
                             "certInfo"
                             "monitorDuty";
        gap:0px;
        background-color:var(--main-body-bg-color);
        padding-left:5px;
        padding-right:5px;
        margin:0px; 
    }
      body {font-size:.5rem}
      .localContactInfo {
          font-size:.5rem;
      }
  }
@media (min-width: 768px) {
    .parent {
        display: grid;
        grid-template-rows: repeat(4, minmax(50px, auto));
        grid-template-columns:1fr 1fr;
        grid-template-areas: "hdgArea           hdgArea"
                             "localInfo         altInfo"
                             "memberStatus      emergInfo
                             "certInfo          monitorDuty"
                             ;
        gap:0px;
        background-color:var(--main-body-bg-color);
        padding-left:5px;
        padding-right:5px;
        margin:0px; 
    }
    .hdg {
        grid-area: hdgArea; 
        display:grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns:1fr 1fr;
        grid-template-areas: " searchArea searchArea",
                                "memberNameArea memberNameArea",
                                ".  menuArea",
                                "versionArea versionArea";
                                
        height:4rem;
        background-color: var(--main-hdg-bg-color); 
        color:var(--main-hdg-txt-color);
        
    }
    body {font-size:.75rem}
    .localContactInfo {
        font-size:.75rem;
    }
}

@media (min-width: 992px) {
    .parent {
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        /* grid-template-rows:50px 1fr 1fr; */
        grid-template-rows: repeat(3, minmax(50px, auto));
        grid-template-areas:    "hdgArea           hdgArea             hdgArea"
                                "localInfo         altInfo             emergInfo"
                                "memberStatus      certInfo            monitorDuty"
                             ;
        gap:0px;
        background-color:var(--main-body-bg-color);
        padding-left:5px;
        padding-right:5px;
        margin:0px; 
    }
    body {font-size:1rem}
    .localContactInfo {
        font-size:1rem;
    }

    .hdg {
        grid-area: hdgArea; 
        display:grid;
        width:100%;
        height:60px;
        grid-template-areas:    "searchArea memberNameArea menuArea versionArea";
        grid-template-rows: 50px;
        grid-template-columns:1fr 2fr 2fr .75fr;
        gap:0em;
        background-color: var(--main-hdg-bg-color); 
        color:var(--main-hdg-txt-color);
        font-size:1.5rem;
    }
    .hdgSearch {
        grid-area:searchArea;
        margin-top:.5em;
        margin-left:auto;
        margin-right:auto;
    }
    
    .memberName {
        grid-area:memberNameArea;
        margin-top:.5em;
        padding-top:.25em;
        padding-bottom:0em;
        margin-left:1em;
        margin-right:1em;
        text-align:center; 
        height:2.5rem;
        background-color: white;
        color:navy; 
        border-radius:5px;
    }
    .hdgVersion {
        grid-area:versionArea;
        align-items: left;
        text-align:left;
        padding-top:.5em;
        margin-right:5px;
        margin-left:0px;
    }
    
    .memberMenu {
        grid-area:menuArea;
        margin-left:auto;
        margin-right:auto;
        padding-top:10px;
    }
}
/* .modal-backdrop {
    z-index: 1040;
  }
  */
/* .modal-backdrop {
    z-index: -1;
  }  */

/* .modal-backdrop.show {
    opacity: 0.7;
} */

.modal-backdrop{
    z-index: -1;
    opacity:1; transition:opacity .2s;
  }
.modal-backdrop.in{
    opacity:.7;
  }

/* #staffNoteModalID {
    
} */
.manager {
    color:navy !important;
}
.mgr label {
    color:red !important
}
/* .mgrOnly {
    color:gray;
} */
/* 
input:disabled {
    background-color: yellow;
    color:lightcoral;
} */