{% extends 'base.html' %}
{% block title %}MEMBER{% endblock title %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/member.css') }}">
{% endblock %}

{% block app_content %}

<div class="parent">
    <!-- HEADING BAND -->
    <div class="hdg">
        <!-- HIDDEN VALUES -->
        <input id="isManager" type="hidden" value={{isManager}}>
        <input id="isDBA" type="hidden" value={{isDBA}}>
        <input id="isCoordinator" type="hidden" value={{isCoordinator}}>
        <!-- ------------------------------------------------------ -->    
        <div class="hdgSearch" style=margin-left:20px>
            <div id="memberList">
                <select id="selectpicker" class='selectpicker' title='Find a  member ...' data-live-search=true data-live-search-style="contains" data-width='auto'>
                    {% for nme in nameArray %}
                        <option  class="optName" value='{{nme}}'>{{ nme }}</option>
                    {% endfor %}
                </select>
                <a id="linkToMember" style="display:none" href=""></a>
            </div>
        </div>
       
        <!-- ------------------------------------------------------ -->
        <div class="memberName">
            <input id='memberNameID' type="hidden" value="{{hdgName}}">
            <h3>{{ hdgName }}</h3>
        </div>

        <!-- ------------------------------------------------------ -->
        <div class="hdgVersion">
            <h6>ver. Mar 22, 2021</h6>
        </div>

        <!-- ------------------------------------------------------ -->
        <!-- <div class="staffName">
            <h6>{{staffName}}</h6>
        </div> -->

        <!-- ------------------------------------------------------ -->
        <div class="memberMenu">
            <div class="dropdown">
                <button id='menuID' onclick="showMenu()" class="btn btn-secondary btn-sm">SHOW MENU</button>
                <div id="myDropdown" class="dropdown-content"style=text-align:left>
                    <button id='clearScreenBtnID' class='dropdown-item' disabled onclick='clearScreen()'>Clear Screen</button>
                    <hr>
                    <button id='monitorSchedulingBtnID' class='dropdown-item' disabled onclick='linkToMonitorSchedule()'>Schedule Monitor Duty</button>
                    <button id='mntrSchedBtnID' class='dropdown-item' disabled onclick="window.location.href='/printMemberSchedule/?villageID={{member.Member_ID}}'">Print Monitor Schedule</button>
                    <button id='noteBtnID' class='dropdown-item' disabled onclick='noteRoutine()'>Note to Member</button>                   
                    <button id='classSignUpBtnID' class='dropdown-item' disabled onclick='classSignUp()'>Class Signup</button>
                    <button id="editNameBtnID" class='dropdown-item' disabled onclick="window.location.href='/editName/?villageID={{member.Member_ID}}'">Edit name</button>
                    <button id="chgVillageID" class='dropdown-item' disabled onclick="window.location.href='/changeVillageID/?villageID={{member.Member_ID}}'">Edit Village ID</button>
                    
                    <hr>
                    <button id='rolesBtnID' class='dropdown-item' disabled style=display:none onclick="window.location.href='/roles/?villageID={{member.Member_ID}}'">Roles</button>
                    <button id='showCheckInsID' class="dropdown-item" disabled style=display:none onclick="window.location.href='/checkIns/?villageID={{member.Member_ID}}'">Show check-ins</button>
                    <button id='passwordBtnID' class='dropdown-item' disabled style=display:none onclick='passwordRoutine()'>Change password</button>                   
                    <button id='staffNoteBtnID' class='dropdown-item' style=display:None onclick='getStaffNoteRtn()'>Edit Note to Staff</button>                   
                    <hr>
                    <button id='newMemberBtnID' class='dropdown-item' onclick="window.location.href='/newMemberApplication'">New Member Application</button>
                    <button id='newVolunteerBtnID' class='dropdown-item' onclick="window.location.href='/newVolunteerApplication'">New Volunteer Application</button>
                    
                    <!-- <button id='shiftChangeBtnID' class='dropdown-item' disabled onclick='shiftChange()'>Temporary Login</button> -->
                </div>
                <button id='showPhotoBtn' class='btn btn-secondary btn-sm' style=margin-left:20px disabled onclick='showHidePhoto(this)''>SHOW PHOTO</button>
                <button id='takePhotoBtn' class='btn btn-secondary btn-sm' style=margin-left:20px disabled onclick="window.location.href='/takePhoto/?villageID={{member.Member_ID}}'">TAKE PHOTO</button>
                <!-- <button id='takePhotoBtn' class='btn btn-secondary' style=margin-left:20px onclick='takePhotoRtn(this)''>TAKE PHOTO</button> -->
                
            </div>     
        </div> 

    </div>
    
    <!-- PRIMARY CONTACT INFORMATION -->
    <div id="localContactID" class="localContactInfo panel">
        <h5>LOCAL INFORMATION</h5>
        <form method='POST' action="/saveAddress">
            <div class="row">
                <label class="col-3" for="memberID">Village ID</label>
                <div class="col-9">
                    <input id='memberID' type="text" maxlength=6 size=6 style="width:70px" readonly name="memberID" value="{{member.Member_ID}}">
                    <label for="lightspeedID" style="margin-left:20px">Lightspeed ID:</label>
                    <input id="lightspeedID" name='lightspeedID' type="text" maxlength=6 size=6 style="width:80px" class="lightspeedID" value="{{ member.LightspeedID if member.LightspeedID }}">
                </div>
            </div>

            <div class="row">
                <label class="col-3" style=margin-top:5px>Temp ID</label>
                <div class="col-9">
                    <input 
                        id='hasTempVillageID' 
                        type="checkbox" 
                        class="form-check-input" 
                        name="hasTemporaryVillageID"  
                        {% if member.Temporary_Village_ID %} 
                            checked value="True" 
                        {% else %} 
                            value="False"
                        {% endif %}>
                        
                    <input id='expireDt' type="date" class="datepick" name="expireDt" style=height:30px;width:9em value="{{member.Temporary_ID_Expiration_Date}}">
                    {% if expireMsg == 'ID EXPIRED!' or expireMsg == '< 30 days' %}
                        <label style="color:red;font-size:12px;margin-left:20px" >{{ expireMsg }}</label>
                    {%endif%}
                </div>
            </div>
            
            <div class="row">
                <label class="col-3" for="street">Street</label>
                <div class="col-9">
                    <input id='streetID' type="text" style="width:250px" name="street" placeholder="Street" required value="{{member.Address}}">
                </div>
            </div>

            <div class="row">
                <label class="col-3" for="cityStateZip">City/St/Zip</label>   
                <div id='cityStateZip' class="cityStateZip col-9">
                    <input type="text" name="city" style=width:100px; readonly value='The Villages'>
                    <input type="text" style=width:30px id="state" name="state" readonly value='{{member.State}}'>
                    <input type="hidden" id="zipcodeTextID" name="zip" style=width:50px;  value='{{member.Zip}}'>
                    <select id="zipcodeSelecterID" name="zipcodeSelecterName" style=padding-bottom:3px;width:95px;color:navy;font-family:inherit required placeholder="Zipcode">
                        <option disabled selected value="">Select ..</option>
                        {% for z in zipCodes %}
                            <option value="{{z.Zipcode}}" class="optZipcode" style=color:navy >{{z.Zipcode}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row">
                <label class="col-3" for="village">Village</label>
                <div class="villageData col-6">
                    <input id=villageTextID type="hidden" name="village" value="{{member.Village}}">
                    <select id="villageSelecterID" style="padding-bottom:3px; width:300px; color:navy;font-family:inherit" required name="villageSelecterName">
                        <option value="" disabled selected>Select a village ...</option>
                        {% for village in villages %}
                            <option  class="optVillage" value ="{{village.Village_Name}}">{{village.Village_Name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        
            <div class="row">
                <label class="col-3" for="homePhone">Home</label>
                <div class="col-2">
                    <input
                        type="text" 
                        class="phones form-control-md" 
                        style=width:130px 
                        id="homePhone" 
                        name="homePhone"
                        placeholder="Home phone"
                        value="{{ member.Home_Phone }}">
                </div>
            </div>
            <div class="row">
                <label class="col-3" for="cellPhone">Cell</label>
                <div class="col-2">
                    <input type="text"
                    class="phones form-control-md"
                    maxlength="14" 
                    style=width:130px 
                    id="cellPhone" 
                    name="cellPhone"
                    placeholder="Cell phone"
                    value="{{ member.Cell_Phone }}">
                </div>
            </div>
            <div class="row">
                <label class="col-3" for="eMail">E-Mail</label>
                <div class="col-9">
                    <input type="email" style=width:250px id="eMailID" name="eMail" placeholder="Email" value="{{ member.eMail }}">
                </div>
            </div>
            
            <div class="cancelSave" style=padding-left:100px>
                <input type="hidden" class='staffID' name='staffID' value="{{staffID}}">
                <input type="hidden" class='clientLocation' name='clientLocation'>
                <button id="localCancelBtn" type="submit" name="localAction" class="btn btn-secondary" style=display:none value="CANCEL">CANCEL</button>
                <button id="localSaveBtn" type="submit" name="localAction" class="btn btn-primary" style=display:none value="SAVE">SAVE</button>
                <br>
            </div>
        </form>     
       
    </div>

   

    <!-- ALTERNATE CONTACT INFORMATION -->
    <div id='altContactID' class="alternateContactInfo panel">
        <h5>ALTERNATE ADDRESS</h5>
        <form method='POST'  action="/saveAltAddress" style="padding-left:50px">
            <div class="row">
                <label class="control-label col-md-3 col-form-label-md" for="altStreet">Street</label>
                <div class="col-md-9">
                    <input type="text" class="form-control-md" style="width:250px" id="altStreet" name="altStreet" placeholder='Street' value="{{member.Alt_Street if member.Alt_Street}}">
                </div>
            </div>

            <div class="row">
                <label class="control-label col-md-3 col-form-label-md">City/State</label>   
                <div class="col-md-5">
                    <input type="text" class="form-control-md" style="width:200px"id="altCity" name="altCity" placeholder="City" value='{{member.Alt_City if member.Alt_City}}'>
                </div>
                <div class="col-md-1">
                    <input type="text" class="form-control-md" style=width:30px;margin-left:20px name="altState" placeholder="St" value='{{member.Alt_State if member.Alt_State}}'>
                </div>
            </div>
            <div class="row">
                <label class="control-label col-md-3 col-form-label-md" >Zip</label>   
                <div class="col-md-2">
                    <input type="text" class="form-control-md" style=width:90px name="altZip" placeholder="Zipcode" value='{{ member.Alt_Zip if member.Alt_Zip }}'>
                </div>
            </div>

            <div class="row">
                <label class="control-label col-md-3 col-form-label-md" >Country</label>
                <div class="col-md-4">
                    <input type="text" class="form-control-md" placeholder="Country" name="altCountry" 
                    value="{{ member.Alt_Country if member.Alt_Country }}">
                </div>
            </div>
            <br>
            <div class="row">
                <label class="control-label col-md-3 col-form-label-md" >Phone</label>
                <div class="col-md-3">
                    <input 
                        type="text" 
                        class="phones form-control-md" 
                        style=width:130px  
                        name="altPhone"
                        placeholder="Phone"
                        value="{{ member.Alt_Phone if member.Alt_Phone}}">
                </div>
            </div>
            
            <div class="cancelSave" style=padding-left:100px>
                <input type="hidden" class='staffID' name='staffID' value='{{staffID}}'>
                <input type="hidden" class='clientLocation' name='clientLocation'>
                <input type="hidden" class="memberID" name="memberID" value={{member.Member_ID}}>
                <button id="altCancelBtn" type="text" name="altAction" class="btn-default" style=display:none value="CANCEL">CANCEL</button>
                <button id="altSaveBtn" type="submit" name="altAction" class="btn-primary" style=display:none value="SAVE">SAVE</button>       
            </div>
        </form>
    </div>

    <!-- EMERGENCY INFORMATION -->
    <div id="emergencyID" class="emergencyInfo panel" style="padding-left:0px">
        <img 
            id="memberImgID" 
            src=""
            alt="NO PHOTO AVAILABLE" 
            width="300" 
            height="200" 
            style=display:none;margin-top:20px;margin-left:200px;color:red; 
            >
        <h5>EMERGENCY INFORMATION</h5>
        <form method='POST' action="/saveEmergency">
            <div class="row">
                <label class="col-2 col-form-label"style=margin-top:0px>Contact</label>
                <input 
                    type="text" 
                    class="form-control col-4" 
                    style=height:30px 
                    name="emergContact" 
                    placeholder='Name' 
                    value="{{member.Emerg_Name if member.Emerg_Name}}">

                <input 
                    type="text" 
                    class="phones form-control form-control-md col-md-4" 
                    style="height:30px;width:143px" 
                    name="emergPhone" 
                    placeholder="Phone" 
                    value="{{member.Emerg_Phone if member.Emerg_Phone}}">
            </div>
 
            <div class='medConditions'>
                <div class= 'medCol1'>
                    <input id=emergMemberID type="hidden" name='emergMemberID'>
                    <br>
                    <div class='form-group-sm'>
                        <input id='noEmergDataID' type="checkbox" class="form-check-input" name="emergNoData"   {% if member.Emerg_No_Data_Provided %} checked {% endif %}value="{{member.Emerg_No_Data_Provided}}">
                        <label for="noEmergDataID" class="col-sm-2 form-check-label" style='margin-top:5px'> No&nbspData</label>    
                    </div>
                    <br>
                    <div class='form-group-sm'>
                        <input id='emergPacemakerID' type='checkbox' class='form-check-input' name='pacemaker' {% if member.Emerg_Pacemaker %} checked {% endif %}  value="{{member.Emerg_Pacemaker}}">
                        <label for="emergPacemakerID" class="col-sm-2 form-check-label" style='margin-top:6px'>Pacemaker</label>
                    </div>
                    <div class='form-group-sm'>
                        <input id='emergStentID' type="checkbox" class='form-check-input' name='stent'  {% if member.Emerg_Stent %} checked {% endif %}  value="{{member.Emerg_Stent}}">
                        <label for="emergStentID" class="col-sm-2 form-check-label" style='margin-top:6px'>Stent</label>
                    </div>
                    <div class='form-group-sm'>
                        <input id='emergCABGID' type="checkbox" class='form-check-input' name='CABG'  {% if member.Emerg_CABG %} checked {% endif %}  value="{{member.Emerg_CABG}}">
                        <label for="emergCABGID" class="col-sm-2 form-check-label" style='margin-top:6px'>CABG</label>
                    </div>
                    <div class='form-group-sm'>
                        <input id='emergMIID' type="checkbox" class='form-check-input' name='MI'  {% if member.Emerg_MI %} checked {% endif %}  value="{{member.Emerg_MI}}">
                        <label for="emergMIID" class="col-sm-2 form-check-label" style='margin-top:6px'>MI</label>
                    </div>
                    <div class='form-group-sm'>
                        <input id='emergDiabetes1ID' type="checkbox" class='form-check-input' name='diabetes1'  {% if member.Emerg_Diabetes_Type_1 %} checked {% endif %}  value="{{member.Emerg_Diabetes_Type_1}}">
                        <label for="emergDiabetes1ID" class="col-sm-2 form-check-label" style='margin-top:6px'>Diabetes&nbsp1</label>
                    </div>
                    <div class='form-group-sm'>
                        <input id='emergDiabetes2ID' type="checkbox" class='form-check-input' name='diabetes2'  {% if member.Emerg_Diabetes_Type_2 %} checked {% endif %}  value="{{member.Emerg_Diabetes_Type_2}}">
                        <label for="emergDiabetes2ID" class="col-sm-2 form-check-label" style='margin-top:6px'>Diabetes&nbsp2</label>
                    </div>   
                </div>
                <div class='medCol2'>
                    <div style='display:flex;margin-top:20px'>
                        <label for="emergOtherDiagnosisID" style='font-size:12px'>Other</label>
                        <textarea 
                            id="emergOtherDiagnosisID" 
                            style='font-size:12px;margin-left:25px;' 
                            rows="2" 
                            cols="25" 
                            name='otherDiagnosis' >{{member.Emerg_Other_Diagnosis if member.Emerg_Other_Diagnosis}}</textarea>
                    </div>
                    <div style='display:flex; margin-top:15px'>
                        <label for="emergDiabetesOtherID">Diabetes</label>
                        <textarea id="emergDiabetesOtherID" style=font-size:12px;margin-left:10px rows="2" cols="25" 
                        name='diabetesOther' >{{member.Emerg_Diabetes_Other if member.Emerg_Diabetes_Other}}</textarea>
                    </div>
                    <div style='display:flex; margin-top:15px'>
                        <label for="emergAlergiesID">Allergies</label>
                        <textarea id="emergAlergiesID" style=font-size:12px;margin-left:10px rows="2" cols="25" 
                        name='allergies'>{{member.Emerg_Medical_Alergies if member.Emerg_Medical_Alergies}}</textarea>
                    </div>
                </div>   
            </div> 
            <br>
            <div class='form-group-sm' style=margin-left:20px>
                <input id='defibrillatorID' type="checkbox" class="form-check-input" name="emergDefib"   {% if member.Defibrillator_Trained%} checked {% endif %}value="{{member.Defibrillator_Trained}}">
                <label for='defibrillatorID' class="form-check-label" style=margin-top:6px;margin-left:15px> Defibrillator Trained</label>    
            </div>
            
            <div class="cancelSave" style=padding-left:100px>
                <input type="hidden" class='staffID' name='staffID' value='{{staffID}}'>
                <input type="hidden" class='clientLocation' name='clientLocation'>
                <input type="hidden" class="memberID" name="memberID" value={{member.Member_ID}}>
                <button id="emergCancelBtn" type="submit" name="emergAction" class="btn-default" style=display:none value="CANCEL">CANCEL</button>
                <button id="emergSaveBtn" type="submit" name="emergAction" class="btn-primary" style=display:none value="SAVE">SAVE</button>  
            </div>
        </form>      
    </div>
    

    <!-- MEMBERSHIP STATUS -->
    <div id="membershipID" class="membershipInfo panel">
        <h5>MEMBERSHIP STATUS</h5> 
        <form method='POST'  action="/saveMemberStatus" style="padding-left:20px">
            <input id=acceptDuesDateID type="hidden" value={{acceptDuesDate}}>
            <input id=lastYearPaidID type="hidden" value={{lastYearPaid}}>
            <input id=currentDuesYearID type="hidden" value={{currentDuesYear}}>

            <div class="row form-check">
                <input id='villagesWaiverID' type="checkbox" class="form-check-input" style=margin-top:5px; name="villagesWaiverSigned"   {% if member.Villages_Waiver_Signed %} checked {% endif %}value="True">
                <label for="villagesWaiverID" class="col-sm-3 form-check-label" >Village Waiver</label>    
                <input id="villagesWaiverDateSigned" class="form-control-md" type="date" name="villagesWaiverDateSigned"  value={{member.Villages_Waiver_Date_Signed}}> 
            </div>

            <div class="row form-check">
                    <input id="duesPaidID" type="checkbox" class="form-check-input" style=margin-top:5px name="duesPaid" {% if member.Dues_Paid %} checked {% endif %} value={{member.Dues_Paid}}>
                    <label class="col-sm-4 form-check-label">Dues paid ({{lastYearPaid}})</label> 
                    <label for='dateJoinedID' class="col-form-label" style=margin-top:-5px;margin-left:0px>Date Joined</label>
                    <input id='dateJoinedID' type="date" class="form-control-md "  name="dateJoined" value="{{member.Date_Joined}}"> 
            </div> 
            
            <div class="row form-check">
                <input id="volunteerID" type="checkbox" class="form-check-input" style=margin-top:5px name="volunteer" {% if member.NonMember_Volunteer %} checked {% endif %} value="{{member.NonMember_Volunteer}}">
                <label for='volunteerID' class="col-sm-4 form-check-label" style=margin-top:5px>Volunteer</label>
            </div>
            
            <div class="row form-check" style='margin-top:0px;'>
                <div>
                    <input id="inactiveID" type="checkbox" class="form-check-input" style=margin-top:8px readonly name="inactive" {% if member.Inactive %} checked {% endif %}value="{{member.Inactive}}">
                    <label for='inactiveID' class="col-sm-3 form-check-label" style=margin-top:5px>Inactive</label>
                    <input id="inactiveDateID" type="date" class="form-control-md" style=margin-left:0px readonly name="inactiveDate" placeholder="inactive" value="{{member.Inactive_Date}}">
                    <input id="deceasedID" type="checkbox" class="col-sm-4 form-check-input" style=margin-top:8px;margin-left:20px; name="deceased" {% if member.Deceased %} checked {% endif %}value="{{member.Deceased}}">
                    <label for='deceasedID' class="col-sm-2 form-check-label"style=margin-top:10px;margin-left:30px>Deceased</label>
                </div>
            </div>

            <div class="row">
                <input id="restrictedID" type="checkbox" class="form-check-input" style=margin-top:10px;margin-left:0px readonly name="restricted" {% if member.Restricted_From_Shop %} checked {% endif %}value="{{member.Restricted_From_Shop}}">
                <label class="col-sm-4 form-check-label" style=margin-top:11px;margin-left:20px>Restricted</label>
                <textarea name="reasonRestricted"  
                    style=margin-left:5px;margin-top:5px 
                    id="reasonRestricted"
                    readonly
                    placeholder="Reason for restriction" 
                    cols="60" 
                    rows="2">{{member.Reason_For_Restricted_From_Shop if member.Reason_For_Restricted_From_Shop}}</textarea>
            </div>
            
            <div class="row" style='padding-top:4em;'>
                <!-- <label for="memberNotesID">Member notes:</label> -->
                <textarea 
                    name="memberNotes" 
                    id="memberNotesID" 
                    placeholder="Member notes"
                    cols="60" 
                    rows="2" 
                    style='margin-left:3px;padding-left:2px'>{{member.Member_Notes if member.Member_Notes}}</textarea>
            </div>
            <br>
            <div class='row'>
                <div class="col-4" style=margin-top:35px;>
                    <label style='color:red'>{{hasKeys}}</label>
                </div>
                <div class="col acceptDuesBtn">
                    <input id='acceptDuesID' type='text' onclick="acceptDues()" class="btn btn-primary btn-sm" style=color:white;width:250px;height:30px value="ACCEPT DUES FOR {{currentDuesYear}}"</button>    
                </div>
            </div>

            <div class="cancelSave" style=padding-left:100px;padding-top:20px>
                <input type="hidden" class='staffID' name='staffID' value='{{staffID}}'>
                <input type="hidden" class='clientLocation' name='clientLocation'>
                <input type="hidden" class="memberID" name="memberID" value={{member.Member_ID}}>
                <button id="memberCancelBtn" type="submit" name="memberAction" class="btn-default" style=display:none value="CANCEL">CANCEL</button>
                <button id="memberSaveBtn" type="submit" name="memberAction" class="btn-primary " style=display:none value="SAVE">SAVE</button>   
            </div>
        </form>
        
    </div>


    <!-- CERTIFICATION INFORMATION -->
    <div id="certificationID" class="certificationInfo panel">
        <h5>CERTIFICATION</h5>
        <form method='POST' action="/saveCertification" style="padding-left:10px">
            <div class='certTopPanel'>
                <div class='row'>
                    <div class='col-3'></div>
                    <div class='col-4 RAcolumn' >ROLLING ACRES</div>
                    <div class='col-4 BWcolumn' >BROWNWOOD</div>        
                </div>

                <div class='row'>
                    <div class='col-3'></div>
                    <div class='col-4 RAcolumn'>
                        <input 
                            id='RAcertifiedID' 
                            name='certifiedRA'
                            disabled=true 
                            type="checkbox" 
                            class="form-control" 
                            {% if member.Certified %} 
                                checked 
                                value='True'
                            {% else %}
                                value = 'False'
                            {% endif %} 
                            >
                    </div>
                    <div class='col-4 BWcolumn'>
                        <input 
                            id='BWcertifiedID' 
                            disabled=true 
                            type="checkbox" 
                            class="form-control"
                            name='certifiedBW'  
                            {% if member.Certified_2 %} 
                                checked 
                            {% endif %}
                            value="{{member.Certified_2}}">
                    </div> 
                </div>  

                <div class='row'>
                    <div class='col-3'>Certified:</div>
                    <div class='col-4 RAcolumn'>
                        <input 
                            id='RAdateCertifiedID' 
                            readonly 
                            type="date" 
                            class="form-control-md "  
                            style="width:9em" 
                            name="certifiedRAdate"
                            {% if member.Certification_Training_Date == '' %}
                                value=''
                            {% else %} 
                                value="{{member.Certification_Training_Date}}"
                            {% endif %}>
                    </div>
                    <div class='col-4 BWcolumn'>
                        <input id='BWdateCertifiedID' readonly type="date" class="form-control-md "  style="width: 9em;" name="certifiedBWdate" value="{{member.Certification_Training_Date_2 if member.Certification_Training_Date_2}}">
                    </div>
                </div>

                <div class='row'>
                    <div class='col-3'>Will Sub:</div>
                    <div class='col-4 RAcolumn'>
                        <input 
                            id='RAwillSub' 
                            type="checkbox" 
                            class="form-control" 
                            style=margin-left:0px 
                            name="willSubRA" 
                            {% if member.Monitor_Sub %} 
                                checked 
                            {% endif %} 
                            readonly 
                            value="{{member.Monitor_Sub}}">   
                    </div>
                    <div class='col-4 BWcolumn'>                
                        <input id='BWwillSub' type="checkbox" class="form-control" style=margin-left:0px name="willSubBW" {% if member.Monitor_Sub_2 %} checked {% endif %} readonly value="{{member.Monitor_Sub_2}}">                
                    </div>
                </div>
                
                <div class='row'>
                    <div class='col-3'>Lst Mntr Trng</div>
                    <div class='col-4 RAcolumn'>
                        <input id='raLastMonitorTraining' type="date" class='form-control-md' style="width: 9em;" name='RAmonitorTrainingDate' value={{member.Last_Monitor_Training}}>
                    </div>
                    <div class='col-4 BWcolumn'>
                        <input id='bwLastMonitorTraining' type="date" class='form-control-md' style="width: 9em;" name='BWmonitorTrainingDate'value="{{member.Last_Monitor_Training_Shop_2 if member.Last_Monitor_Training_Shop_2}}">
                    </div>
                </div>

                <div class = 'row'>
                    <div class="col-3"></div>
                    <div class='col-4 RAcolumn'>
                        <div id='RAtrainingNeeded' style=width:9em>{{RAtrainingNeeded}}</div>
                    </div>
                    <div class='col-4 BWcolumn'> 
                        <div id='BWtrainingNeeded' style=width:9em>{{BWtrainingNeeded}}</div>    
                    </div>
                </div> 
                <hr class="class-1" />
            </div>

            <div class='certBottomPanel'>
                <div class="row">
                    <div class='col-12'>
                        <label class="control-label col-form-label-md">Type of work</label>
                        <input id=typeOfWorkTextID type="hidden" class="form-control-md" name="typeOfWorkHidden" value="{{member.Default_Type_Of_Work}}">
                        <select id="typeOfWorkSelecterID" class="form-control-md selectTypeOfWork" style=margin-left:10px name="typeOfWorkSelecterName">
                            <option value='General'>General</option>
                            <option value='Administrative'>Administration</option>
                            <option value='Carver'>Carver</option>
                            <option value='Education'>Education</option>
                            <option value='Repair'>Repair</option>
                            <option value='Special Project'>Special Project</option>
                            <option value="Stained Glass">Stained Glass</option>
                            <option value="Toy Building">Toy Building</option>
                            <option value='Turner'>Turner</option>
                            <option value='Painting'>Painting</option>
                        </select>
                    </div>
                </div>
                
                <div class="row">
                    <label class="control-label col-sm-4 col-form-label-md" style=text-align:left;margin-left:0px">Monitor Exemption</label>
                    <textarea name="waiverReason" class="col-md-6" style=margin-left:10px id="waiverReason" cols="30" rows="1">{{member.Monitor_Duty_Waiver_Reason if member.Monitor_Duty_Waiver_Reason}}</textarea>
                </div>

                <div class="row">
                    <label class="control-label col-sm-4 col-form-label-md"style=text-align:left;>Exemption Expiration</label>
                    <input type="date" class="form-control-md" style="margin-left:10px; width:9em;" name="waiverExpirationDate" value="{{member.Monitor_Duty_Waiver_Expiration_Date}}"> 
                </div>
                
                <div class="cancelSave" style=padding-left:100px>
                    <input type="hidden" class='staffID' name='staffID' value='{{staffID}}'>
                    <input type="hidden" class='clientLocation' name='clientLocation'>
                    <input type="hidden" class="memberID" name="memberID" value={{member.Member_ID}}>
                    <button id="certificationCancelBtn" type="submit" name="certificationAction" class="btn-default" style=display:none value="CANCEL">CANCEL</button>  
                    <button id="certificationSaveBtn" type="submit" name="certificationAction" class="btn-primary" style=display:none value="SAVE">SAVE</button>
                </div> 
            </div>   
        </form>
    </div>

    <!-- MONITOR DUTY -->
    <div id="monitorDutyID" class="monitorDutyInfo overflow-auto panel">
        <div id="schedulePeriod">
            <span style=margin-left:170px>MONITOR DUTY</span>
            <button type='button' style='margin-left:50px;background-color:white;color:red' class="btn periodBtn active" onclick="changeScheduleYear('{{thisYear}}')">{{thisYear}}</button>
            <button type='button' style='background-color:white;color:green' class="btn btn-outline-dark periodBtn" onclick="changeScheduleYear('{{lastYear}}')">{{lastYear}}</button>
        </div>
        <form method='POST'  action="/saveMonitorDuty" style="padding-left:0px;padding-top:0px">
            <div class='monthsInTheVillages'>
                <div class="monthNames" style="margin:0; padding:0;">
                    <label>Jan</label>
                    <label>Feb</label>
                    <label>Mar</label>
                    <label>Apr</label>
                    <label>May</label>
                    <label>Jun</label>
                    <label>Jul</label>
                    <label>Aug</label>
                    <label>Sep</label>
                    <label>Oct</label>
                    <label>Nov</label>
                    <label>Dec</label>
                </div>
                
                <div id = "monthCheckboxesID" class="monthCheckboxes">
                    <input
                        id='jan' 
                        type="checkbox"  
                        style=margin-left:5px 
                        name='jan' 
                        {% if member.Jan_resident %}
                            checked
                        {% endif %}
                        value={{member.Jan_resident }}
                    >
                    <input type="checkbox" id='feb' name='feb' {% if member.Feb_resident %} checked {% endif %} value={{member.Feb_resident}}>
                    <input type="checkbox" id='mar' name='mar' {% if member.Mar_resident %} checked {% endif %} value={{member.Mar_resident}}>
                    <input type="checkbox" id='apr' name='apr' {% if member.Apr_resident %} checked {% endif %} value={{member.Apr_resident}}>
                    <input type="checkbox" id='may' name='may' {% if member.May_resident %} checked {% endif %} value={{member.May_resident}}>
                    <input type="checkbox" id='jun' style=margin-left:4px name='jun' {% if member.Jun_resident %} checked {% endif %} value={{member.Jun_resident}}>
                    <input type="checkbox" id='jul' name='jul' {% if member.Jul_resident %} checked {% endif %} value={{member.Jul_resident}}>
                    <input type="checkbox" id='aug' name='aug' {% if member.Aug_resident %} checked {% endif %} value={{member.Aug_resident}}>
                    <input type="checkbox" id='sep' name='sep' {% if member.Sep_resident %} checked {% endif %} value={{member.Sep_resident}}>
                    <input type="checkbox" id='oct' name='oct' {% if member.Oct_resident %} checked {% endif %} value={{member.Oct_resident}}>
                    <input type="checkbox" id='nov' name='nov' {% if member.Nov_resident %} checked {% endif %} value={{member.Nov_resident}}>
                    <input type="checkbox" id='dec' name='dec' {% if member.Dec_resident %} checked {% endif %} value={{member.Dec_resident}}>
                </div>
            </div>
            <!-- MEMBER SCHEDULE -->
            <div id="memberSchedule-container">
                <div id="schedHdg1" class="memberScheduleHeader">
                    <span>Location</span>
                    <span>Date</span>
                    <span>Shift</span>
                    <span>Duty</span>
                    <span>NS</span>
                </div>
                <div id="memberScheduleDetailID" class="memberScheduleDetail">
                    <!-- MEMBER SCHEDULE -->
                    <div class="memberSchedule">
                        {% for m in memberSchedule %}
                        <div class="memberScheduleRow">
                            <span class="memberScheduleCol">{{m.Shop_Name}}</span>
                            <span class="memberScheduleCol">{{m.DateScheduled}}</span>
                            <span class="memberScheduleCol">{{m.AM_PM}}</span>
                            <span class="memberScheduleCol">{{m.Duty}}</span>
                            <input 
                            type="checkbox"
                            class="memberScheduleCol" 
                            onclick="return false"
                            {% if m.NoShow == 'NS' %}
                                checked
                            {% endif %}
                            >  
                        </div>
                        {% endfor %}
                    </div>
                    <!-- <div class="pastDuty">
                        {% for p in pastDuty %}
                        <div class="memberScheduleRow">
                            <span class="memberScheduleCol">{{p.Shop_Name}}</span>
                            <span class="memberScheduleCol">{{p.DateScheduled}}</span>
                            <span class="memberScheduleCol">{{p.AM_PM}}</span>
                            <span class="memberScheduleCol">{{p.Duty}}</span>
                            <input 
                            type="checkbox"
                            class="memberScheduleCol" 
                            onclick="return false"
                            {% if p.NoShow == 'NS' %}
                                checked
                            {% endif %}
                            >  
                        </div>
                        {% endfor %}
                    </div>
                     -->
                    <!-- FUTURE DUTY -->
                    <!-- <div class="futureDuty">
                        {% for f in futureDuty %}
                        <div class="memberScheduleRow">
                            <span class="memberScheduleCol">{{f.Shop_Name}}</span>
                            <span class="memberScheduleCol">{{f.DateScheduled}}</span>
                            <span class="memberScheduleCol">{{f.AM_PM}}</span>
                            <span class="memberScheduleCol">{{f.Duty}}</span>
                            <input 
                                type="checkbox" 
                                class="memberScheduleCol"
                                onclick="return false"
                                {% if f.NoShow == 'NS' %}
                                    checked
                                    value = 'True'
                                {% else %}
                                    value = 'False'
                                {% endif %}
                            >
                        </div>
                        {% endfor %}
                    </div> -->
                    
                </div>
            </div>
           
            <div class='col-5' style=margin-left:0px>
                <input 
                    id='needsToolCribID' 
                    type="checkbox"  
                    name="needsToolCrib"   
                    {% if member.Requires_Tool_Crib_Duty %}
                        checked 
                    {% endif %} 
                    value = {{member.Requires_Tool_Crib_Duty}}>
                <label 
                    for='needsToolCribID' 
                    class="form-check-label" >
                    Needs Tool Crib Duty
                </label>    
            </div>
        
            <div class='row monitorDutyNotes'>
                <!-- <div class=col-3>
                    <label style=display:none;margin-bottom:3em;margin-left:20px>Monitor Duty Notes</label>
                </div> -->
                <div class=col-11>
                    <textarea 
                        id="monitorDutyNotesID"
                        name="monitorDutyNotes" 
                        placeholder="Monitor Duty Notes"
                        style=display:none
                        cols="60" rows="2"
                        >{{member.Monitor_Duty_Notes if member.Monitor_Duty_Notes}}</textarea>
                </div>
            </div>
            <div class="cancelSave" style=padding-left:100px;padding-top:0px;margin-top:0px;>
                <button id="monitorDutyCancelBtn" type="submit" name="monitorAction" class="btn-default" style=display:none value="CANCEL">CANCEL</button>
                <button id="monitorDutySaveBtn" type="submit" name="monitorAction" class="btn-primary" style=display:none value="SAVE">SAVE</button>
                <input type="hidden" class='staffID' name='staffID' value='{{staffID}}'>
                <input type="hidden" class='clientLocation' name='clientLocation'>
                <input type="hidden" class="memberID" name="memberID" value={{member.Member_ID}}>
            </div> 
        </form>
    </div>      
    </div> <!-- END OF DETAIL SECTION -->
</div>

<!-- MODAL FORM FOR NOTE TO MEMBER (BOOTSTRAP) -->
<div id="noteModalID" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle" >Note to {{hdgName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" >&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span>Message:</span><br>
                <textarea id="msgID" style=font-size:14px rows="10"" cols="90" ></textarea>
                <br><br>
                
                <div class="modal-footer">
                    <div class='footer-left-col'>
                        <input id='showAtCheckIn' type="checkbox" checked  value="checkIn">  Show at check-in<br>
                        <input id='sendEmail' type="checkbox" style=margin-bottom:15px value="email">  Send email<br><br>
                    </div> 
                    <div class='footer-right-col'> 
                        <button id='cancelNoteID' type='button' class='btn btn-secondary btn-sm'>Cancel</button>
                        <button id='processMsgID' type="button" class="btn btn-primary btn-sm">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL FORM FOR NOTE TO STAFF  -->
<div id="staffNoteModalID" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle" >Message to Staff</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" >&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span>Message:</span><br>
                <textarea id="staffMsgID" style=font-size:14px rows="20"" cols="90" >test data</textarea>
                <br><br>
                
                <div class="modal-footer">
                    <div class='footer-right-col'> 
                        <button id='cancelStaffMsgID' type='button' class='btn btn-secondary btn-sm'>Cancel</button>
                        <button id='saveStaffMsgID' type="button" class="btn btn-primary btn-sm">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL FORM FOR PASSWORD CHANGE -->
<div id="passwordModalID" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Password for {{hdgName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body passwordsBody">
                <div class="row">
                    <div class="col-7">
                        <label for="curPasswordID" style=font-size:medium>Current password:</label>
                    </div>
                    <div class="col-2"><input id='curPasswordID' style=font-size:medium;width:130px; type="text" value=''></div>
                </div>
                <div class="row">
                    <div class="col-7">
                        <label for="newPasswordID" style=font-size:medium>New password:</label>
                    </div>
                    <div class="col-2"><input id='newPasswordID' style=font-size:medium;width:130px; type="text" ></div>
                </div>
                <br><br>
            </div>   

            <div class="modal-footer">
                <div class="footer-left">

                </div>
                <div class="footer-right-col"> 
                    <button id='cancelPasswordID' type='button' class='btn btn-secondary btn-sm'>Cancel</button>
                    <button id='updatePasswordID' type="button" class="btn btn-primary btn-sm">Update</button>
                </div>
            </div>
            
        </div>
    </div>
</div>

<!-- Modal for error messages. -->
<div class="modal fade" id="myModalMsg" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header" style="background-color: navy;color:white">
				<h5 class="modal-title" id="modalTitle"></h5>
				<button type="button" class="close" onclick=closeModal() aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id=modalBody style=text-align:center>
			</div>
			
				<div class="modal-footer">
				<button type="button" class="btn btn-primary" onclick=closeModal() data-dismiss="modal">CLOSE</button>
			</div>
		</div>
	</div>
</div>


<!-- Modal for photo. -->
<div class="modal fade" id="photo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content" style=background-color:lightgray>
			<div class="modal-header" style="background-color: navy;color:white">
				<h5 class="modal-title" id="modalTitle"></h5>
				<button type="button" class="close" onclick=closeModal() aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id=modalBody style=text-align:center>
                <img 
                    id="photoImgID" 
                    src=""
                    alt="NO PHOTO AVAILABLE" 
                    width="400" 
                    height="300" 
                    >
			</div>
			
            <div class="modal-photo-footer" style=text-align:center>
                <button type="button" class="btn btn-primary" onclick=closeModal() data-dismiss="modal">CLOSE</button>
            </div>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="{{ url_for('static', filename='js/member.js') }}"> </script>
{% endblock %}



<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
