{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/newVolunteer.css') }}">
{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">   

{% block content %}
<form id='newVolunteerForm' class='newVolunteerForm' method='POST' action="/newVolunteerApplication">
    <div class="parent">
        <div class="hdg">
            <div class="hdgTitle">
                <h2>NEW VOLUNTEER APPLICATION</h2>
            </div>
        </div>
        <input id='staffID' type="hidden" name="staffID">   
        <div class="demographic">
            <div class="form-group-md">
                <label for=villageID class='col-md-4 form-label-md'>Village ID</label>
                <input id='villageID' type="text" required class="form-control-md" style="width:60px" name="villageID">
                <label for=expireDate class="col-md-3 form-label-md" >Expiration date</label>
                <input type="date" datepicker class="form-control-md" name='expireDate'>
            </div>
            
            
            <br>    
            <div class='form-group-md'>
                <label for="firstName" class="col-md-4 form-label-md">Name</label>
                <input id="firstName"type='text' required class='form-control-md' name='firstName' placeholder="First name">
            </div>
            <div class='form-group-md'>
                <label for="middleName" class="col-md-4 form-label-md"></label>
                <input id="middleName"type='text' class='form-control-md' name='middleName' placeholder="Middle name">
            </div>
            <div class='form-group-md'>
                <label for="lastName" class="col-md-4 form-label-md"></label>
                <input id="lastName"type='text' required class='form-control-md' name='lastName' placeholder="Last name">
            </div>
            <div class='form-group-md'>
                <label for="nickname" class="col-md-4 form-label-md"></label>
                <input id="nickname"type='text' class='form-control-md' name='nickname' placeholder="Nickname">
            </div>
            <br>
            <div class='address'>
                <div class='form-group-md'>
                    <label for="street" class="col-md-4 form-label-md">Address</label>
                    <input id="street"type='text' class='form-control-md' name='street' placeholder="Street">
                </div>
                <div class='form-group-md'>
                    <label for="city" class="col-md-4 form-label-md"></label>
                    <input id="city"type='text' class='form-control-md' name='city' readonly value="The Villages">
                    <input id="state"type='text' class='form-control-md' style=width:25px name='state' readonly value='FL'>
                    <input type="hidden" id="zipCodeTextID" name="zip" style=width:50px; value=''>
                    <select id="zipcodeSelecterID" name="zipcodeSelecterName" style=padding-bottom:3px;width:95px;color:navy;font-family:inherit>
                        <option value="">Zipcode</option>
                        {% for z in zipCodes %}
                            <option value="{{z.Zipcode}}" class="optZipcode" style=color:navy >{{z.Zipcode}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <hr>   
            <div class='phones'>
                <div class='form-group-md'>
                    <label for="cellPhone" class="col-md-4 form-label-md">Cell phone</label>
                    <input id="cellPhone"type='text' class='phones form-control-md' style=width:130px name='cellPhone' placeholder="Cell phone" >
                </div>
                <div class='form-group-md'>
                    <label for="homePhone" class="col-md-4 form-label-md">Home phone</label>
                    <input id="homePhone"type='text' class='phones form-control-md' style=width:130px name='homePhone' placeholder="Home phone">
                </div>
            </div> 
            <div class='email'>
                <div class='form-group-md'>
                    <label for="eMail" class="col-md-4 form-label-md">Email</label>
                    <input id="eMail"type='email' required class='form-control-md' name='eMail' >
                </div>   
            </div>

            <div class='form-group-md' style=margin-top:20px>
                <label for="dateJoined" class="col-md-4 form-label-md">Date joined</label>
                <input id="dateJoined"type='date' datepicker class='dateJoined form-control-md' name='dateJoined' readonly>
            </div> 

        </div> <!-- END OF demographic-->
        <div class='footerBtns'>
            <div class="cancelSave" >
                <label class='col-5'></label>
                <button id="volunteerCancelBtn" type="submit" formnovalidate name="volunteerCancelBtn" class="btn-default" value="CANCEL">CANCEL</button>
                <button id="volunteerSaveBtn" type="submit" name="newVolunteer" class=" saveBtn btn-primary" style=display:none value="SAVE">SAVE</button>  
                <label class='col-4'></label>
            </div>
        </div>
        
    
    </div> <!-- END OF PARENT -->
</form> <!-- END OF FORM -->


<!-- Modal for error messages. -->
<div class="modal fade" id="myModalMsg" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalTitle"></h5>
				<button type="button" class="close" onclick=closeModal() aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id=modalBody style=text-align:center>
			</div>
			
				<div class="modal-footer">
				<button type="button" class="btn btn-primary" onclick=closeModal() data-dismiss="modal">CLOSE</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="{{ url_for('static', filename='js/newVolunteer.js') }}"> </script>
{% endblock %}
        